.task_list_sec {
    padding: 2rem 0;
}
.accordion-body {
    border: 2px solid;
    border-top: 0;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000000;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.result {
    border: 1px solid #0000001c;
    margin-bottom: 10px;
    padding: 10px;
}